extends layout

block content
	<div id="title">
	p <center>AVAILABLE UNIVERSITIES</center>
	</div>

	#list
		ul
			each uni, i in availableUnis
				li= uni

	#buttons
		<a href = "https://github.com/micklethepickle/wheredoiapply">
		<h6>GITHUB PAGE</h6>
		<h5>Source code at Github</h5>
		</a>