extend layout2
block content
  <h1 class="animated fadeInDown">
  p
    | Nowadays, finding the right university to attend may
    | be difficult with so many options around the world.
    | Where Do I Apply lets students explore their options
    | on basis of their grades.
  p
    | Students have the option of inputing their high school , 
    | averages or even their GPA, depending on the location
    | of their studies. Students attending school in Quebec (CEGEP)
    | have the option of inputing their R-score.
    | The goal of this website is to make the 
    | transition to university much simpler, by zoning in to the
    | perfect universty for each and every user.
    </h1>
block sidebar2
  <h1 class="animated fadeInDown"> <IMG SRC="images/university.jpg" ALT="University" WIDTH=180 HEIGHT=100>
  <div class="dropdown">
  <button class="dropbtn">Not from Quebec?</button>
  <div class="dropdown-content">
  <a href="#">Canadian High school</a>
  <a href="#">French Lycé</a>
  <a href="#">International</a>
  </div>
  </div>
  </h1>

block sidebar
  <h1 class="animated fadeInDown">
  .widget
    h1
     <a href="localhost:3000/findUnis" target="_blank">Choose your program</a>
   </h1>
    
