extend layout2
block content
  .main-content
    <h1 class="animated fadeInDown">
    p
      | Nowadays, finding the right university to attend may
      | be difficult with so many options around the world.
      | Where Do I Apply lets students explore their options
      | on basis of their grades.
      | Students have the option of inputing their high school , 
      | averages or even their GPA, depending on the location
      | of their studies. Students attending school in Quebec (CEGEP)
      | have the option of inputing their R-score.
      | The goal of this website is to make the 
      | transition to university much simpler, by zoning in to the
      | perfect universty for each and every user.
      </h1> 
block sidebar
  <h1 class="animated fadeInDown"> 
  <div class="dropdown">
  <button class="dropbtn">Choose your program</button>
  <div class="dropdown-content">
  <a href="#">Canadian High school (coming soon)</a>
  <a href="#">French Lycée (coming soon)</a>
  <a href="/findUnis">Quebec (CEGEP)</a>
  </div>
  </div>
  </h1>
  
  #buttons
    <center>
    <a href = "https://github.com/micklethepickle/wheredoiapply" target = "blank">
    <h6>GITHUB PAGE</h6>
    <h5>Source code at Github</h5>
    </a>
    </center>