doctype
html
  head
    title WHERE DO I APPLY?
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 <center>WHERE DO I APPLY?</center>
    #container
      #main-content
        block content
    footer
      p Made by Michel Ma, Silan He, Robert Riachi, and Edward Son