doctype
html
  head
    title deuce
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 <center><a href="/">WHERE DO I APPLY?</a></center>
    #container
      #main-content
        block content
    footer
      p Made by Michel Ma, Silan He, Robert Riachi, and Edward Son