/*
 * Import nib
 */
@import 'nib'

paleyellow =#F2F2B4

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */


main-color = #447289
background-color = #faf9f0
background-color2 = #B0D6F9


body
  font-family 'Georgia'
  background-color background-color
  color #444


header
  font-family 'Quicksand'
  padding 50px 5px
  color #fff
  font-size 75px
  text-align center

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 5px solid darken(#9AA5FE, 0%)
  text-shadow 1px -3px 3px darken(black, 30%)

.container
  width 40%
  margin auto
  margin-top 30px
  overflow hidden
  text-align: justify
  height 600px
  float center
  line-height 30px

.main-content
  float center
  width 100%
  height 200px
  
  p
    margin-bottom 0px

.sidebar
  float center
  width 500px
  margin auto
  margin-top 0%

  .dropbtn {
    background-color: background-color2
    color #444;
    font-family 'Quicksand'
    margin 13px 10px 4px
    padding-bottom 10px
    border-bottom 1px dotted #ddd
    border-radius 2px 2px 0px 0px
    margin-bottom 10px
    font-size: 25px;
    border: 3px;
    cursor: pointer;
    border-radius 6px
    border 1px solid #ccc
    margin-right 20px
    background-color background-color2
    box-shadow inset 0px 0px 0px 3px rgba(#fff, 0.8), 0px 3px 0px -2px rgba(#000, 0.1)
    padding: 10px
    -webkit-transition all 0.3s linear
    -moz-transition all 0.3s linear
    transition all 0.3s linear
}

.dropdown {
    position: relative;
    display: inline-block;
    

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    -webkit-transition all 0.3s linear
    -moz-transition all 0.3s linear
    transition all 0.3s linear
}

.dropdown-content a:hover {background-color: main-color}


.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: #447289;

}




    /*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
   

    h1
      font-family 'Quicksand'
      margin 13px 10px 4px
      padding-bottom 10px
      border-bottom 1px dotted #ddd
      border-radius 2px 2px 0px 0px
      margin-bottom 10px


    p
      font-size 13px
      padding 0px 10px
      margin-bottom 10px


p
  line-height 1.8
.sidebar
  float center
  width 300px
  margin-bottom 200px

  .widget

    /*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
    border-radius 3px
    border 1px solid #ccc
    margin-right 20px
    background-color background-color2
    box-shadow inset 0px 0px 0px 3px rgba(#fff, 0.8), 0px 3px 0px -2px rgba(#000, 0.1)

    h1
      font-family 'Quicksand'
      margin 13px 10px 4px
      padding-bottom 10px
      border-bottom 1px dotted #ddd
      border-radius 2px 2px 0px 0px
      margin-bottom 10px
      text-decoration none
      

p
  line-height 1.8
  
#buttons 
  margin-top 70%


#buttons a
  display block
  height 50px
  width 150px
  overflow hidden
  background #FC0
  margin-bottom 0px
  text-decoration none
  border-radius: 10px
  border 1px solid black
  padding 0px
  
#buttons h6
  font-family 'Quicksand'
  color teal
  line-height 50px
  text-align center
  font-weight bold
  text-shadow 1px 1px 1px black
  -webkit-transition all 0.3s linear
  -moz-transition all 0.3s linear
  transition all 0.3s linear
  
#buttons h5
  opacity 0
  font-size 13px
  text-align center
  color teal
  background-color paleyellow
  height 50px
  line-height 50px
  -webkit-transition all 0.2s linear
  transition all 0.2s linear
  
#buttons a:hover h6
  margin-top: -50px
  opacity 0

#buttons a:hover h5
  opacity 1000

footer
  text-align center
  width 100%
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
  font-style italic