/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 50px 5px;
  color: #fecf9a;
  font-size: 75px;
  font-weight: 900;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #9aa5fe;
  border-bottom: 5px solid #963030;
  text-shadow: 0px -1px 0px #03437e;
}
#buttons a {
  display: block;
  height: 50px;
  width: 150px;
  overflow: hidden;
  background: #fc0;
  margin-left: 39%;
  margin-bottom: 10px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 0px;
}
#buttons h6 {
  font-family: 'Quicksand';
  color: #009f2a;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#buttons h5 {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  font-size: 13px;
  text-align: center;
  color: #009f2a;
  background-color: #f2f2b4;
  height: 50px;
  line-height: 50px;
  -webkit-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#buttons a:hover h6 {
  margin-top: -50px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#buttons a:hover h5 {
  opacity: 1000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100000)";
  filter: alpha(opacity=100000);
}
#title {
  font-size: 40px;
  margin-left: -17%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 1000px;
  color: #c85252;
}
#container {
  width: 70%;
  margin: auto;
  overflow: hidden;
}
#main-content {
  float: left;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
input[type = "submit"] {
  display: none;
}
input[type = "radio"] {
  display: none;
}
input[type = "radio"] + label {
  display: block;
  border: 1px solid #000;
  margin: 0;
  height: 30px;
  width: 250px;
  padding: 0;
  background-color: #fff;
}
input[type = "radio"]:checked + label {
  font-size: 16px;
  background-color: #c4fbd8;
  height: 110px;
}
label {
  overflow: hidden;
  text-align: center;
  webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  line-height: 5px;
}
#main-content h7 {
  line-height: 27px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#main-content h8 {
  font-size: 11px;
  line-height: 20px;
}
label:hover h7 {
  background-color: #c4fbd8;
}
#list {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  line-height: 40px;
  display: block;
  height: 300px;
  width: 500px;
  overflow: hidden;
  background: #c4fbd8;
  text-decoration: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 0px;
}
#submit {
  display: block;
  height: 50px;
  width: 150px;
  overflow: hidden;
  background: #fc0;
  margin-left: 215px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 0px;
}
footer {
  width: 500px;
  margin-left: 550px;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
  font-style: italic;
}
